<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="col-8">
<h3 class="personal-blog-entries">My Blog Entries</h3>
{{#each blogs as |blog|}}
    <div class="card custom-card2">
        <div class="card-headers custom-header3">
             <div class="title"><strong>{{title}}</strong></div>
             <div>
                 <button class="deleteBtn" id="{{id}}">Delete</button>
                 <button class="editBtn" id="{{id}}">Edit</button>
             </div>
         </div>
         <div class="card-body custom-body3">
             <div class="info">{{text}}</div>
         </div>
         </div>
{{/each}}

        </div>
            <div class="col-4">
                <h3 class="post-new-blog">Post New Blog</h3>
                <div class="card custom-card2">
                    
                    <div class="card-headers custom-header3">
                            <br>
                     </div>
                     <div class="card-body custom-body4">
                        <form class="create-new-blog">

                            <div class="mb-3">
                                <label for="exampleInputEmail1"
                                    class="form-label new-blog-title"><strong>Blog Title</strong></label>
                                <input type="username" class="form-control custom-control" id="new-username"
                                    aria-describedby="emailHelp" row="3">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label custom-form-email"><strong>Text</strong></label>
                                        <textarea class="form-control" id="comment-text" rows="3"></textarea>
                                        <br>
                                        <button class="btn button-custom"><strong>Submit</strong></button>

                                </div>
                        
                  
                        </form>
                     </div>
                     </div>

                      

            </div>
        </div>

 <script src="/js/newEntry.js"></script>
  <script src="/js/deleteEntry.js"></script>