



</div>
<br>
<div class="card custom-card">
    <div class="card-headers custom-header"></div>
    <div class="card-body custom-body">
        <div class="info">


    <form class="row g-3 comm-label2">
                <div class="comment-section">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Edit Title:</strong></label>
            <textarea class="form-control" id="new-title" rows="1" placeholder="{{edit.title}}"></textarea>
        </div>
        <div class="comment-section">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Edit Text:</strong></label>
            <textarea class="form-control new-text" id="new-text" rows="3" placeholder="{{edit.text}}"></textarea>
        </div>
        <button class="btn button-custom2 submit-edit" id="{{edit.id}}"><strong>Submit</strong></button>

    </form>


        </div>
    </div>
</div>


     <script src="/js/editEntry.js"></script>