            <div class="card-headers custom-header">
                <div class="title"><strong>Example Title</strong></div> 
                <div class="posted">Posted by: </div>
            </div>
            <div class="card-body custom-body">
                <div class="info">Blog written information</div>
            </div>