

.custom-nav {
    margin-left: 5rem;
    margin-right: 5rem;
}
/* html {
    height: 100%
} */
body {
    height: auto;
    background-image: linear-gradient(rgb(32, 31, 31), rgb(153, 136, 230));
    background-repeat: no-repeat;
    padding-bottom: 8rem;
    background-size: 100% 100%;
    /* min-height: 100%; */
}

.header-text {
    word-spacing: 1rem;
    letter-spacing: .5rem;
}

.custom-card{
    border: solid #1c1c20 6px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
}

.custom-card2 {
    border: solid #1c1c20 6px;
    margin-top: 1rem;
}

.custom-jumbo {
    background-color: #1c1c20;
}
.custom-nav {
    background-color: #1c1c20;
}

.custom-nav a {
    text-decoration: none;
}

.deleteBtn{
    background-color: #1c1c20;
    color: rgb(167, 167, 224);
    border: none;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #1c1c20 2px;
    padding: 10px;
    background-color: #1c1c20;
    color: rgb(167, 167, 224);
}
.custom-header3 {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #1c1c20 2px;
    padding: 10px;
    background-color: #1c1c20;
    color: rgb(167, 167, 224);
}

.custom-header2 {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #1c1c20 2px;
    padding: 5px;
    background-color: #1c1c20;
    color: rgb(167, 167, 224);
    /* font-size: 10px; */
}

.title2 {
    font-size: 18px;
    margin-left: 20px;
}

.info2 {
    margin-left: 10px;
}

.posted {
    margin-right: 0rem;
}
.title {
    margin-left: 1rem;
    font-size: 25px;
}

.info {
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

/* login page css */
.custom-body{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.custom-body3{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.card-container {
    margin-top: 4rem;
    justify-content: center;
}

.cust-card-header {
    background-color: #1c1c20;
    color: white;
    padding: 2rem;
    word-spacing: 2px;
    font-size: 25px;
}

.all-card {
    border: 3px solid #1c1c20;
}


#emailHelp {
    color: white;
    font-size: 16px;
}

.custom-control {
    border: solid 3px #1c1c20;
}

.custom-form {
    border: solid 3px #1c1c20;   
}

.custom-btn {
    width: 100%;
    background-color: #1c1c20;
    color: white;
}
.custom-form-email {
    color: #1c1c20;
    font-size: 1.5rem;
}

.custom-pw {
    color: #1c1c20;
    font-size: 1.5rem;
}

.custom-form-usrn {
    color: #1c1c20;
    font-size: 1.5rem;
}

.register {
    color: white;
    justify-content: end;

}
a {
    text-decoration: none;
}

.comment-section {
    margin-top: 20px;
    font-size: 22px;
}

.comm-label {
    margin-left: 5px;
}

.card-button {
    border-bottom: black solid 2px;
}

.button-custom {
    color: white;
    background: #1c1c20;
    width: 100%;
}

#logout {
    border: none;
}

.custom-body2 {
    background-color: lightgray;
}

.personal-blog-entries {
    color: white;
    margin-top: 3rem;
    text-align: center;
}

.post-new-blog {
    color: white;
    margin-top: 3rem;
    text-align: center;
}

.new-blog-title {
    color: #1c1c20;
    font-size: 1.5rem;
    /* color: rgb(167, 167, 224); */
    /* width: 100%; */
    
}

.custom-body4 {
    background-color: rgb(167, 167, 224);
}

#comment-text {
    border: black solid 3px;
}

.cust-dash {
    border: none
}