

.custom-nav {
    margin-left: 5rem;
    margin-right: 5rem;
}
html {
    height: 100%
}
body {
    height: 100%;
    background-image: linear-gradient(rgb(32, 31, 31), rgb(153, 136, 230));
    background-repeat: no-repeat;
}

.header-text {
    word-spacing: 1rem;
    letter-spacing: .5rem;
}

.custom-card{
    border: solid #1c1c20 6px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
}

.custom-jumbo {
    background-color: #1c1c20;
}
.custom-nav {
    background-color: #1c1c20;
}

.custom-nav a {
    text-decoration: none;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #1c1c20 2px;
    padding: 10px;
    background-color: #1c1c20;
    color: rgb(167, 167, 224);
}

.posted {
    margin-right: 0rem;
}
.title {
    margin-left: 1rem;
    font-size: 25px;
}

.info {
    margin-left: 0.5rem;
}

/* login page css */
.custom-body{
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
.card-container {
    margin-top: 4rem;
}

.cust-card-header {
    background-color: #1c1c20;
    color: white;
    padding: 2rem;
    word-spacing: 2px;
    font-size: 25px;
}

.all-card {
    border: 3px solid #1c1c20;
}


#emailHelp {
    color: white;
    font-size: 16px;
}

.custom-control {
    border: solid 3px #1c1c20;
}

.custom-form {
    border: solid 3px #1c1c20;   
}

.custom-btn {
    width: 100%;
    background-color: #1c1c20;
    color: white;
}
.custom-form-email {
    color: #1c1c20;
    font-size: 1.5rem;
}

.custom-pw {
    color: #1c1c20;
    font-size: 1.5rem;
}

.custom-form-usrn {
    color: #1c1c20;
    font-size: 1.5rem;
}

